/*  Nested Function List */
@media (max-width: 768px) {
  #nested-List ul {
    list-style: none;
    position: relative;
  }

  #nested-List ul::before {
    position: absolute;
    left: 10px;
    top: -3px;
    content: "";
    display: block;
    border-left: 2px solid #ddd;
    height: 13px;
    border-bottom: 2px solid #ddd;
    width: 31px;
  }

  #nested-List ul.root::before {
    display: none;
  }

  #nested-List ul:after {
    position: absolute;
    left: 10px;
    bottom: 0px;
    content: "";
    display: block;
    border-left: 2px solid #ddd;
    height: 100%;
  }

  #nested-List ul.root:after {
    display: none;
  }

  #nested-List ul:last-child::after {
    display: none;
  }
}

@media (min-width: 768px) {
  #nested-List ul {
    list-style: none;
  }

  #nested-List ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #nested-List label {
    position: relative;
  }

  #nested-List label::after {
    position: absolute;
    content: "";
    right: -20px;
    top: 50%;
    border-bottom: 2px solid #ddd;
    width: 20px;
  }

  #nested-List label:last-child::after {
    display: none;
  }

  #nested-List li ul > li::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 20px;
    width: 20px;
    border-bottom: 2px solid #ddd;
  }

  #nested-List li ul:first-child > li::before {
    top: 50%;
    height: 50%;
    border-left: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-top-left-radius: 10px 10px;
    border-bottom: 0px;
  }

  #nested-List li ul:last-child > li::before {
    top: 0;
    height: 50%;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-bottom-left-radius: 10px 10px;
    border-top: 0px;
  }

  #nested-List li ul:only-child > li::before {
    top: 50%;
    height: 0;
    border-top: 0px;
    border-bottom: 2px solid #ddd;
    border-left: 0px;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
  }

  #nested-List > .root > li > label::before {
    display: none;
  }

  #nested-List ul {
    position: relative;
  }

  #nested-List ul::before {
    position: absolute;
    left: 20px;
    content: "";
    display: block;
    border-left: 2px solid #ddd;
    height: 100%;
  }

  #nested-List ul:first-child::before,
  #nested-List ul:last-child::before,
  #nested-List ul:only-child::before,
  #nested-List ul.root::before {
    display: none;
  }
}

.disabled {
  opacity: 0.3;
}

.readonly {
  color: red;
}
